.panel {
    width: 800px;
    height: 300px;
    border-radius: 6px;
    flex-direction: column;
    padding: 6px;
    position: absolute;
    flex-shrink: 0;
    flex-basis: initial;
}

.header {
    height: 30px;
    flex-direction: row;
    justify-content: space-between;
    -unity-font-style: bold;
}
